# API Keys
HF_TOKEN=
OPENAI_API_KEY=

# Model Configurations
HYPO_MODEL=meta-llama/Llama-3.1-8B-Instruct
EMBEDDING_MODEL_OS=all-MiniLM-L6-v2
EMBEDDING_MODEL_OAI=text-embedding-3-small
ANSWER_MODEL_HF=meta-llama/Llama-3.1-8B-Instruct
ANSWER_MODEL_OAI=gpt-4o

# Environment Settings
ENV_TYPE=DEV
KB_PATH=docs